Manifest.toml
Project.toml
.claude/settings.json
chamonix_horizons.png
chamonix_solar_daily.png
chamonix_solar_panel.png
chamonix_terrain.png
chamonix_july_Tair1cm.png
chamonix_july_Tsoil0.png
test/R/.Rhistory
chamonix_july_Tair1cm.gif
chamonix_july_Tsoil0.gif
chamonix_solar.gif
chamonix_july_Tair2m.gif
chamonix_july_Tair2m.png
chamonix_july_Tsoil10cm.gif
chamonix_july_Tsoil10cm.png
.claude/settings.local.json
.vscode/settings.json
